html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h4{
  margin: 0px;
}
p, ol{
  font-size: medium;
}

/*HEADER FORMAT*/
.dti-logo{
  height: 80px;
  margin-left: 10px;
}
.dti-care{
  height: 80px;
  margin-left: 10px;
}
.bagong-pilipinas{
  height: 80px;
}
.podrs-logo{
  height: 85px;
  margin-left: 10px;
}


.cpab-ribbon{
  background-color: rgb(38, 61, 129);
  padding: 20px 50px 20px 50px;
  margin: 10px;
}
.dept-name{
  color: white;
  font-family: 'Roboto';
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 7px;
  text-align: center;
}

/*CONTENT FORMAT*/
.topics-div{
  align-items: center;
  margin-left: 20px;
  margin-right: 50px;
  margin-top: 50px;
}
.topics-list{
  list-style-type: none;
  font-family: 'Roboto';
  font-size: xx-large;
}
.topic{
  display: flex;
  flex-wrap: wrap;
  border: black;
  border-bottom-style: solid;
  color: #757575;
  margin-top: 10px;
}
.topic-title{
  flex: 9;
  font-weight:500;
}
.topic-chevron{
  flex: 1;
  text-align: right;
}
.topic-chevron:hover{
  cursor: pointer;
}
.answers{
  padding-top: 0 18px;
  margin-top: 10px;
  display: block;
  font-size: x-large;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
.questions-list{
  list-style-type: none;
}
.list-div{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}
.answer-paragraph-hide{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
.numbered-ul{
  list-style-type: circle;
}
/* .two-column {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

.two-column p {
    width: calc(50% - 10px);
    margin: 0;
  } */

/*FOOTER DETAILS*/
.footer-div{
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto";
  background-color: #D3D3D3;
  margin-top: 50px;
  color: #4f4f4f;
  font-size: small;
}
.footer-content{
  flex: 1;
  margin: 20px;
  
}
.footer-content-2{
  flex: 2;
  margin: 20px;
  
}
.govt-links{
  display: flex;
  padding: 10px;
  font-size: medium;

}
.govt-branch{
  flex: 1;
  margin-right: 5px;
}
.link{
  color: #4f4f4f;
  background-color: transparent;
  text-decoration: none;
}
.link:hover{
  text-decoration: underline;
}

#seal img {
    width: 150px;
    border-radius: 10%;
    margin: 10px 0;
    display: block;

  }



